# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# --- Virtual Environments ---
env/


# --- Environment & Config ---
.env


# --- IDE / Editor Files ---
.vscode/
.idea/
*.swp
*.swo
*.bak
